<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr/>
        <form>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Enter the email" />
            </div>
            <div class="mb-3">
                <label for="password" >password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter the password"    [style.color]="color" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>

            </div>

        </form>
    </div>
</div>