<div class="row">
    <div class="col-md-8">
        <h3 >Posts List</h3>
        <div class="py-1">
            <a class="btn btn-primary rounded" [routerLink]="['/posts/add']">Add Post</a>
        </div>
        <table class="table table-striped table-hover" *ngIf="posts | async as postsData">
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData">  
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td><a [routerLink]="['edit',post.id]" class="btn btn-primary">update</a>
                    <button class="btn btn-danger" (click)="onDeletePost(post.id)">delete</button></td>
                    
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-4">
        <!--for this router-outlet to load child -->
        <router-outlet></router-outlet>
    </div>

</div>